<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to Titanic Survival!</h1>
</div>

<clr-radio-container>
  <label>Gender</label>
  <clr-radio-wrapper>
    <input
      type="radio"
      clrRadio
      name="gender"
      required
      value="1"
      [(ngModel)]="user.gender"
    />
    <label>Male</label>
  </clr-radio-wrapper>
  <clr-radio-wrapper>
    <input
      type="radio"
      clrRadio
      name="gender"
      required
      value="0"
      [(ngModel)]="user.gender"
    />
    <label> Female</label>
  </clr-radio-wrapper>
  <clr-control-helper>Helper text</clr-control-helper>
  <clr-control-error>This field is required!</clr-control-error>
</clr-radio-container>
<label>Are you alone?</label>
<clr-radio-wrapper>
  <input
    type="radio"
    clrRadio
    name="alone"
    required
    value="1"
    [(ngModel)]="user.was_alone"
  />
</clr-radio-wrapper>
<label for="basic" class="clr-control-label">Your Age</label>
<div class="clr-control-container">
  <div class="clr-input-wrapper">
    <input
      type="number"
      id="basic"
      placeholder="Enter value here"
      class="clr-input"
      [(ngModel)]="user.age"
    />
    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
  </div>
  <button (click)="prediction()" class="btn btn-primary">Get Prediction</button>
</div>
